@model HastaneProjesi.Models.Doktorlar

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Sablon.cshtml";
}

<br />
<h3>Silmek İstiyormusunuz?</h3>
<div>
    <h4>Doktorlar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DogumYeri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DogumYeri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cinsiyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cinsiyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DogumTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DogumTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unvanlar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unvanlar.UnvanAd)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poliniklik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poliniklik.PolinikAd)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil"class="btn btn-danger"  /> |
        <a asp-action="Index"  class="btn btn-success">Listeye Geri Dön</a>
    </form>
</div>
